@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

/* Prevent the phone-frame scroll from feeling janky on desktop. */
* {
  -webkit-tap-highlight-color: transparent;
}
